*.lock
*.pid
/jackett/Jackett/log.txt
/jackett/Jackett/log.txt.*
/jackett/Jackett/updater.txt
/jackett/Jackett/updater.txt.*
/jackett/Jackett/DataProtection/*
/jackett/Jackett/Indexers/*
/qbittorent/qBittorrent/GeoDB
/qbittorent/qBittorrent/logs
/qbittorent/qBittorrent/lockfile
/qbittorent/qBittorrent/BT_backup
/qbittorent/qBittorrent/qBittorrent-data.conf
/qbittorent/.ash_history
/qbittorent/.bash_history
/radarr/MediaCover/*
/radarr/Backups/*
/radarr/logs/*
/radarr/asp/*
/radarr/logs.db
/radarr/*.db-shm
/radarr/*.db-wal
/sonarr/MediaCover/*
/sonarr/Backups/*
/sonarr/logs/*
/sonarr/asp/*
/sonarr/logs.db
/sonarr/*.db-shm
/sonarr/*.db-wal
/sonarr/.config/*

